/***************************/
/********* GENERAL **********/
/***************************/

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #c5c5c5;
  --dark-gray: #181818;
  --main-trim: purple;
  --main-comp: rgb(20, 20, 20);
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Jost', sans-serif;
  color: white;
}

p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

section {
  padding: 64px 160px;
  width: 100%;
}

.section-header {
  text-align: center;
  margin-bottom: 48px;
  letter-spacing: 0.04em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.btn-soul-light-lg {
  border: none;
  background: white;
  color: black;
  border-radius: 4px;
  padding: 8px 24px;
}

.btn-soul-light-lg:hover {
  background: lightgrey;
}

.btn-soul-dark {
  border: none;
  border-radius: 4px;
  background: black;
  color: white;
  font-size: 0.75em;
  padding: 4px 12px;
  transition: all 0.05s ease-in-out;
}

.btn-soul-dark:hover {
  background: lightgrey;
  color: black;
}

.btn-soul-dark-lg {
  border: none;
  border-radius: 4px;
  background: black;
  color: white;
  padding: 8px 24px;
  transition: all 0.05s ease-in-out;
}

.btn-soul-dark-lg:hover {
  background: lightgrey;
  color: black;
}

/***************************/
/********* HEADER **********/
/***************************/

header {
  background-color: white;
  padding: 32px 15% 24px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100%;
  align-self: center;
  margin-bottom: 16px;
}

/***************************/
/********** NAV ************/
/***************************/

nav {
  width: 90%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

nav p {
  color: black;
}

nav a {
  font-size: 1rem;
  transition: transform 0.1s ease-in-out;
}

nav a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

/***************************/
/********* BANNER **********/
/***************************/

.banner {
  position: relative;
}

.banner-gradient {
  width: 100%;
  position: absolute;
  height: 100%;
  background: linear-gradient(45deg, rgba(68, 30, 71, 0.8), rgba(71, 26, 75, 0.65));
  z-index: 1;
}

.banner-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-text h2 {
  font-size: 3em;
  margin: 0 auto;
}

/***************************/
/********* ABOUT ***********/
/***************************/

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section img {
  object-fit: cover;
  width: 50%;
}

.about-section {
  display: flex;
}

.about-text {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about p {
  margin-bottom: 40px;
}

#about button {
  margin-top: 48px;
}

/***************************/
/******** CALENDAR *********/
/***************************/

#calendar {
  background-image: linear-gradient(45deg, rgba(68, 30, 71, 0.6), rgba(71, 26, 75, 0.8)), url("https://images.unsplash.com/photo-1535587566541-97121a128dc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
  background-size: cover;
}

.calendar-shows {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-shows li:not(:last-child) {
  margin-bottom: 16px;
}

.calendar-shows li {
  width: 90%;
  background: white;
  border-radius: 4px;
  padding: 12px 24px;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-gap: 16px;
}

.calendar-shows li div {
  display: flex;
  align-items: center;
}

.show-schedule {
  display: flex;
  flex-direction: column;
}

.show-schedule h6 {
  color: black;
  margin-right: auto;
  font-size: 0.9em;
}

.show-schedule p {
  color: black;
  margin-right: auto;
  font-size: 0.8em;
}

.show-venue {
  flex-basis: 40%;
  font-size: 1.4em;
}

.show-venue h6 {
  color: black;
}

.show-location {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***************************/
/********** MEDIA **********/
/***************************/

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
  margin-bottom: 56px;
}

#media h6 {
  text-align: center;
  /* TODO: turn this into a button */
}

.iframe-container {
  padding-top: 56.25%;
  position: relative;
  border: 8px solid white;
}
 
.iframe-container iframe {
   border: 0;
   left: 0;
   position: absolute;
   top: 0;
}

/***************************/
/********* CONTACT *********/
/***************************/

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(45deg, rgba(68, 30, 71, 0.6), rgba(71, 26, 75, 0.8)), url("https://images.unsplash.com/photo-1555201441-7b166836415d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
  background-size: cover;
  background-position: center;
}

#contact form {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact .form-section {
  display: flex;
}

#contact form input {
  border: none;
  border-radius: 4px;
}

#contact .form-section input {
  width: 100%;
  /* height: 100%; */
  margin: 0 8px 12px 8px;
}

#contact .form-section textarea {
  width: 100%;
  /* height: 100%; */
  margin: 0 8px 24px 8px;
}

.social-media {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  border: 1px solid green;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.fa:hover {
  opacity: 0.7;
  color: white;
}

.fa-facebook {
  background: #3b5998;
}

.fa-youtube {
  background: #bb0000;
}

.fa-instagram {
  background: #125688;
}

/***************************/
/********* FOOTER **********/
/***************************/

footer {
  background: white;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

footer p {
  font-size: 0.7rem;
  color: black;
}

/***************************/
/***************************/
/******* BREAKPOINTS *******/
/***************************/
/***************************/

@media (max-width: 1024px) {
  #about-txt {
    padding: 20px;
  }

  .nav-list li {
    font-size: 1.4rem;
    padding: 10px;
  }

  #s-carousel {
    padding: 0px;
  }

  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1.4rem;
  }
  p {
    font-size: 0.8rem;
    /*    color: yellow !important; */
    color: white !important;
  }

  #about {
    display: flex;
    flex-direction: column;
    height: 1000px; /* You must set a specified height */
    border: solid 110px black;
  }

  #about-pic {
    height: 400px;
    width: 100%;
  }

  .s-about {
    display: grid;
    grid-gap: 30px;
    justify-content: space-around;
    grid-template-columns: auto auto;
    background-color: black;
    width: 100vw;
    color: black;
  }
}

@media (max-width: 768px) {
  .nav-list li {
    list-style: none;
    font-size: 1rem;
    padding: 10px;
  }

  #about-txt {
    padding: 20px;
  }

  .nav-list li {
    font-size: 1rem;
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  p {
    /* color:white !important; */
    color: green !important;
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  #about-txt {
    padding: 5px;
  }

  .nav-list li {
    font-size: 0.8rem;
    padding: 5px;
  }

  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 0.6rem;
  }
  h5 {
    font-size: 0.9rem;
  }
  p {
    /*   color:white !important; */
    color: red !important;
    font-size: 0.6rem;
  }
}
