
* {
  padding: 0;
  margin: 0;
}



#s-video-player {
  display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: auto auto;
    background-color: black;
    width: auto;
    color: black;
    margin: 10px 20px;
}